<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>504083931059-ngpl8c6ifkis2655rrofk7ajfchb4ebj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504083931059-ngpl8c6ifkis2655rrofk7ajfchb4ebj</string>
	<key>API_KEY</key>
	<string>AIzaSyDd9SYARRMb3WB22RoYrcAuVcx-BvZWpHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>504083931059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meb.Showcase</string>
	<key>PROJECT_ID</key>
	<string>showcase-ae974</string>
	<key>STORAGE_BUCKET</key>
	<string>showcase-ae974.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504083931059:ios:623a2e9500d6a31e</string>
	<key>DATABASE_URL</key>
	<string>https://showcase-ae974.firebaseio.com</string>
</dict>
</plist>